.imageSlider {
  margin-top: 20px;
  overflow: visible;
  position: relative;

  button {
    z-index: 1;
  }

  .sliderCont {
    // border: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      border-radius: 4px;
    }

    &::after {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
        rgb(0 0 0 / 73%) 0px 16px 10px -10px;
      border-radius: 4px;
      transition: border 0.25s ease;
      border: 4px solid transparent;
      cursor: pointer;
    }

    &:hover::after {
      border: 4px solid rgba(249, 249, 249, 0.8);
    }
  }

  ul li button {
    &::before {
      font-size: 10px;
      color: rgb(150, 158, 171);
      opacity: 1;
    }
  }
}

.spinLoader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 70px);
  background-color: rgb(26, 29, 41);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;

  img {
    transform: scale(0.2) translateY(-150px);
    height: auto;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  &.spinDisabled {
    animation: fadeOut 500ms forwards ease;
    img {
      animation: moveSpin 500ms forwards ease;
    }

    @keyframes fadeOut {
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
        pointer-events: none;
      }
    }
    @keyframes moveSpin {
      from {
        transform: scale(0.2) translateY(-150px);
      }
      to {
        transform: scale(0.2) translateY(100px);
      }
    }
  }
}

:global {
  .slick-list {
    overflow: visible !important;
  }

  .slick-dots li.slick-active button:before {
    opacity: 1 !important;
    color: white !important;
  }

  .slick-dots {
    right: 20px !important;
    bottom: 15px !important;
    text-align: right !important;
    display: block !important;

    li button {
      cursor: default !important;
    }
  }

  .slick-next,
  .slick-prev {
    height: 100% !important;
    width: 5% !important;
  }
  .slick-next {
    right: -3.8vw !important;
  }
  .slick-prev {
    left: -3.8vw !important;
  }

  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0 !important;
    cursor: default !important;
  }
}
