.movieSliders {
  margin-bottom: 30px;

  :global {
    .slick-slider {
      margin-top: 12px;
    }

    .slick-slide {
      transition: all 500ms ease;

      &:hover {
        transform: scale(1.05);
      }

      div div {
        border-left: none transparent;
        border-right: 20px solid transparent;
      }
    }
  }

  h4 {
    font-size: 20px;
  }
}
