.header {
  background: #1a1d29;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0px 36px;
  overflow-x: hidden;
  z-index: 999;

  .navMenu {
    display: flex;
    flex-grow: 1;
    margin-left: 25px;

    button,
    a {
      background: none;
      border: none;
      color: white;
      display: flex;
      align-items: center;
      padding: 0px 18px;
      cursor: pointer;
      text-decoration: none;

      img {
        height: 18px;
      }

      span {
        font-size: 13px;
        letter-spacing: 1.42px;
        margin-left: 10px;
        position: relative;

        &::after {
          content: "";
          height: 2px;
          background: white;
          position: absolute;
          left: 0;
          right: 0;
          bottom: -6px;
          opacity: 0;
          transform: scaleX(0);
          transform-origin: left;
          transition: 0.35s ease;
        }

        &:hover {
          &::after {
            opacity: 1;
            transform: scaleX(1);
          }
        }
      }
    }
  }

  .logoImg {
    width: 70px;
    height: 40px;
  }

  .userImg {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
  }

  @media screen and (max-width: 1023px) {
    padding: 0 26px;
    .logoImg {
      width: 63px;
      height: 38px;
    }
    .userImg {
      width: 36px;
      height: 36px;
    }
    .navMenu {
      button,
      a {
        padding: 0 14px;
        span {
          display: none;
        }

        img {
          height: 24px;
          width: 24px;
        }
        &:nth-child(1n + 4) {
          display: none;
        }
      }
    }
  }
}
